@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@source "./routes/**/*.{html,js,svelte}";

body {
	margin: 0;
	background: #020202;
	cursor: crosshair;
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
}

button {
	cursor: pointer;
}

canvas {
	display: block;
	background-color: transparent;
}

.baloons img {
	display: inline-block;
	position: absolute;
	bottom: -100%;
}

.baloons img:nth-child(even) {
	left: -10%;
}

.baloons img:nth-child(odd) {
	right: -10%;
}

.baloons img:nth-child(3n + 0) {
	left: 30%;
}
